* {
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border;
}


body {
  background:lightblue;

}

.game {
  background:white;
  width: 400px;
  height: 400px;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;



}


h1{
  text-align: center;
}
h2{
  text-align:center;
}
img{

  width: 120px;
}

#container{
  
  display:flex;
  flex-direction: in-line;
  justify-content:center;
  align-items: center

 
}

#container2{
  
  display: flex;
  flex-direction: in-line;
 justify-content: center;
  align-items: center;

}


.btn {
  background: lightgray;
  color: black;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  border-radius: 4px;

}

#answer-buttons{
  display: flex;
  flex-direction: column;
  

  
}

.correct {
  background: blue;
}

.incorrect {
  background: red;
} 
  